/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #fafafa;
    line-height: 1.6;
}

/* Apply Playfair Display to headings */
h1, h2, h3, .collapsible-header, .side-by-side-container h2 {
    font-family: 'Playfair Display', serif;
}

/* Navigation Bar */
nav {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #d16ba5;
}

/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url("assets/background2.png");
    background-size: cover;
    background-color: #f5f5f7;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    overflow: hidden;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

/* Highlighted Text */
.highlight, .highlight-alt {
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    animation: highlightFade 1s ease-in-out;
}
.highlight { background-color: rgba(209, 107, 165, 0.5); }
.highlight-alt { background-color: rgba(245, 240, 243, 0.5); }

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    animation: slideUp 1.5s ease;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    color: #3e423f;
    margin-bottom: 1.5rem;
    max-width: 800px;
}

.hero-button {
    padding: 0.8rem 2rem;
    color: #fff;
    background-color: #8f8189;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
    background-color: #c0507b;
    transform: translateY(-3px);
}

/* About Section */
#about {
    width: 100%;
    background-color: #f7f7f7;
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    color: #5c4e56;
    margin-bottom: 1.5rem;
}

#about p {
    max-width: 800px;
    width: 100%;
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Side-by-Side Layout */
.side-by-side-container {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.side-by-side-container section {
    flex: 1;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.side-by-side-container h2 {
    font-size: 1.8rem;
    color: #5c4e56;
    margin-bottom: 1rem;
}

/* Skills Section */
#skills {
    padding: 4rem 1.5rem;
    background-color: #fafafa;
    max-width: 1200px;
    margin: 0 auto;
}

#skills h2 {
    font-size: 2rem;
    color: #5c4e56;
    text-align: center;
    margin-bottom: 2rem;
}

/* Flexbox for Skills Layout */
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

/* Collapsible Item Styling */
.collapsible-item {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collapsible-header {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
}

.collapsible-header:hover {
    color: #d16ba5;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 1rem
